@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.searchBox {
    width: clamp(200px, 40vw, 700px);
}

.homePageWrapper {
    width: clamp(150px, 60vw, 900px);
}

.settingsWrapper {
    width: clamp(150px, 60vw, 900px);
}

